DATABASE_URL=[url]
PORT=[port]
SALT_ROUNDS=[int]
JWT_SECRET=[string]
JWT_EXPIRES_IN=[int]m
REFRESH_TOKEN_EXPIRES_IN=[int]d
REDIS_URL=[url_redis]
BREVO_API_KEY=[xkeysib-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx]
SPACES_KEY=[DO00XASDSFDFKEY]
SPACES_SECRET=[SecretKey123456789]
SPACES_BUCKET=[bucket_name]
SPACES_REGION=[region_name]